<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"><img src="../../assets/tambakin-horizontal.png" alt=""></div>
    <div class="list-group list-group-flush" >
      <a class="nav-link"   href="../admin/user">
        <fa-icon [icon]="faUser" class="mr-3"></fa-icon>
        Pengguna
      </a>
      <a class="nav-link" href="../admin/pelanggan">
        <fa-icon [icon]="faAddressBook" class="mr-3"></fa-icon>
        Pelanggan
      </a>
      <a class="nav-link" href="../admin/user">
        <fa-icon [icon]="faBoxOpen" class="mr-2"></fa-icon>
        Paket
      </a>
      <a class="nav-link" href="../admin/user">
        <fa-icon [icon]="faCartArrowDown" class="mr-2"></fa-icon>
        Komoditas
      </a>
      <a class="nav-link" href="../admin/user">
        <fa-icon [icon]="faBuilding" class="mr-3"></fa-icon>
        Perusahaan
      </a>
      <a class="nav-link" href="../admin/user">
        <fa-icon [icon]="faNewspaper" class="mr-2"></fa-icon>
        Berita
      </a>
      <h6>Laporan</h6>
      <a class="nav-link" href="../admin/user">
        <fa-icon [icon]="faMoneyBillWave" class="mr-2"></fa-icon>
        Pembayaran
      </a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <button class="btn btn-primary navbar-brand" id="menu-toggle"  (click)="bukaSidebar()">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <fa-icon [icon]="faAngleDown"></fa-icon>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-md-auto border-left border-right">
        <li class="nav-item bg-dark">
          <a class="nav-link" href="#">Pengaturan</a>
        </li>
        <li class="nav-item bg-dark">
          <a class="nav-link" href="#">Keluar</a>
        </li>
      </ul>
    </div>
  </nav>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
